# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Set PHP5 as default
SetEnv PHP_VER 5


#Security Access

<FilesMatch "\.(sql|inc|class\.php|ini|json)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>


# Activate URL rewriting
RewriteEngine on

RewriteRule ^event/([\d]+)  	index.php?action=retrieve&type=event&id=$1 [L]
RewriteRule ^events   			index.php?action=list&type=event [L]
RewriteRule ^info/([\w]+)		index.php?action=display&page=$1 [L]