/* GENERAL */


div, span, ul {
	margin: 0px;
	padding: 0px;
}


a img {
	border: none;
}

a {
	color: #0000FF;
}

[type=checkbox] {
	margin-right: 5px;
}

input[type=text], input[type=email], input[type=password],
input[type=number] {
	border: 1px solid #CCCCCC;
	padding: 2px;
	width: 300px;
}

input[type=number] {
	width: 100px;
}

input[type=submit] {
	margin: 2px;
	padding: 5px 20px 5px 20px;
}

input[type=button], button {
	margin: 2px;
	padding: 5px 20px 5px 20px;
}

h1 {
	margin: 10px 0px;
	font-size: 38.5px;
	font-weight: 400;
	line-height: 40px;
}

p {
	margin: 0px 0px 10px;
}

th {
	white-space: nowrap;
}

.inline * {
	font:12px arial,sans-serif;
}

.inline input[type=submit], .inline input[type=button] {
	margin: 2px;
	padding: 5px 10px 5px 10px;
}

.inline input[type=text] {
	width: 150px;
}

html, body {
	height: 100%;
	background-color: #F5F5F5;
	font: 12px 'Open Sans',sans-serif;

	margin: 0;
	padding: 0;
}

body {
	background-color: #F5F5F5;
	counter-reset: counter_h1;
}

/* PRINCIPAL BLOCKS */

#global_frame {
	width: 1110px;
	margin: 5px auto;
	background-color: #F5F5F5;
}

#body {
	position: relative;
	width: 1100px;
	margin: 0px auto;
	background-color: #F5F5F5;
}

.evt_main {
	position: relative;
	margin: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;

	background-color: white;
	background-repeat: no-repeat;
}

.evt_main p {
	margin: 10px 0px;
}

.evt_main ul {
	padding-left: 20px;
	list-style-type: none;
}

.evt_main li {
	list-style: url(images/icon_checked.gif);
}

div[data-message] {
	font-size: 12px;
	color: black;
	font-weight: bold;
	padding: 2px 10px;
	z-index: 10;
}

.evt_main div[data-message=evt_error] {
	top: -10px;
	border: 1px solid #FFAAAA;
	background-color: #FFD5D5;
}

.evt_main div[data-message=evt_info] {
	top: -45px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFDD;
}

#evt_root {
	padding-bottom: 0px;
	height: 610px;
	background-image: url('images/crowdsurf_2.jpg');
	background-repeat: no-repeat;
	background-color: #869C86; /* iphone */
}

#evt_header_top {
	display: none;
}

#evt_header {
	position:relative; /* because of evt_i18n */
	width: 1098px;
	height: 90px;
	border: 1px solid #B4B4B4;
	background-color: #DDDDDD;
}

#evt_i18n {
	position:absolute;
	left:500px;
	top:0px;
}

#evt_i18n a {
	text-decoration: none;
}

#evt_logo {
	display: table-cell;

	padding: 5px;
}

#evt_user_info {
	display: table-cell;
	padding: 5px;
	min-width: 400px;

	vertical-align: top;
	text-align: right;
}

#evt_user_info a {
	display: inline-block;

	vertical-align: middle;
	text-decoration: none;

}

#evt_index {
}

#evt_header_table {
	display: table;
	width: 100%;
}

#evt_header_menu {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #B4B4B4;
	margin-bottom: 0px;
}

#evt_header_menu ul {
	list-style: none;
}

#evt_header_menu li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	padding: 5px 10px;

	background: #EEEEEE;

	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}

#evt_header_menu a {
	color: #000000;

	text-decoration: none;
}

#evt_header_menu li:hover {
	background-color: #AAAAAA;
}

#evt_menu {
	display: inline-block;
	margin: 200px 0px 10px 250px;
	padding: 20px;

	max-width: 700px;

	background-color: #FFFFFF; /* old ie */
	background-color: rgba(255, 255, 255, 0.6);


	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#evt_menu p {
	margin: 0px 0px 10px;
	font: 15px 'Open Sans',sans-serif;
	line-height: 25px;
}

#evt_menu a {
	text-decoration: none;
}

#evt_footer {
	clear: both;
	width: 100%;

	border-top: 1px solid #D4D4D4;
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: center;
	color: white;

	background-color: #606060;
}

#evt_footer a {
	text-decoration: none;
	color: #AAAAAA;
}

#evt_footer #evt_logo {
	display: block;
	text-align: center;
}

/* FORMS */

.form h1 {
	font-size: 25px;
	margin-bottom: 20px;
	padding: 4px 10px 4px 10px;
	border-bottom: 1px solid #DDDDDD;
}

.form h1:before {
	content: counter(counter_h1) ". ";
	counter-increment: counter_h1;
}

.form_section td {
	vertical-align: top;
}

.form_section {
	margin-left: 10px;
}

.form_title {
	display: block;
	text-align: center;
	vertical-align: middle;
	min-height: 230px;
	padding-top: 80px;
	padding-bottom: 20px;
}

.form_title p {
	display: inline-block;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;

	background-color: white;
	border: 1px solid #CCCCCC;

	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.form_title a {
	font-size: 20px;
	font-weight: bold;
}


.form_cancel {
	margin-bottom: 20px;
}

.form_help {
	font-size: 10px;
	margin-bottom: 15px;
}

.form_delete_confirmation form {
	display: inline;
}

.form_delete_confirmation input {
	padding: 3px;
}

/* FORM RATE */

.evt_rate {
	background-color: #F5F5F5;
	border-spacing: 0px;
	border-collapse: collapse;
	empty-cells: hide;

	margin: 10px 0px 10px 0px;
}

.evt_rate input[type=text] {
	width: 200px;
}

.evt_rate [id*=remove_] {
	min-width: 120px;
	height: 35px;

	text-align: center;
}

.evt_rate td  {
	border: 1px solid #CCCCCC;
	padding: 3px 10px 3px 10px;
	empty-cells: hide;
}

.evt_rate table {
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
}

.evt_rate table td {
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
}

.evt_rate_qty {
	width: 80px;
}

.evt_rate_price {
	width: 80px;
}

.help {
	font-size:12px;
}

/* MISC */

.evt_title {
	display: block;
	text-align: center;
	vertical-align: middle;
}

.evt_title p {
	display: inline-block;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;

	padding: 10px;
	margin: 20px 0px 20px 0px;
	margin-left: auto;
	margin-right: auto;

	color: #00B900;
}

.evt_hr {
	display: none;
}

.spacer {
	display:inline-block;
	width: 50px;
}

/* Table */

.evt_table, .evt_table_billing {
	margin: 20px;
	border: 1px solid black;
	border-collapse: collapse;
}

.evt_table th, .evt_table_billing th {
	padding: 5px;
	font-weight: bold;
	background-color: #F4F4FF;
	border: 1px solid black;
}

.evt_table tr:nth-child(odd), .evt_table_billing tr:first-child td {
	background-color: #FFF0F0;
}

.evt_table td, .evt_table_billing td {
	padding: 5px;
	border: 1px solid black;
}

.th_left {
	text-align: left;
}

/* REST */


.evt_hr {
	margin: 0px;
	padding: 0px;
	height: 0px;
	border-bottom: 1px solid #000000;
	font-size: 1px;
}

.evt_message {
	display: block;
	position: absolute;
	top: 20px;

	padding: 5px 20px;
}

#evt_retrieve_publish {
	border: 1px solid #CCCCCC;
	background-color: #FFFFC4;
	margin-bottom: 30px;
	padding: 2px;
}

#evt_trace {
	background-color: white;
	margin: 0px auto;
	width: 100%;
	text-align: left;
	color: #999999;
}


.evt_administration_title2 {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #BF0000;
	margin: 0px;
}


.evt_administration_title {
	position: absolute;
	left: 10px;
	top: -6px;
	z-index: 4;

	background: #00A1D8;
	border-radius: 2px 0px 2px 2px;
	-webkit-border-radius: 2px 0px 2px 2px;
	-moz-border-radius: 2px 0px 2px 2px;
	color: white;
	font-size: 10px;

	padding: 2px 10px;

	text-transform: uppercase;

	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	font-weight: bold;
	line-height: 25px;
}

.evt_administration_title:after {
	border-bottom: 5px solid #444;
	border-right: 5px solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: -5px;
	top: 0;
	width: 0;
}

.evt_admin {
	background-color: red;
}

.evt_administration_body {
	margin: 0px;
}

#evt_general_info {
	padding: 0px;
	border: 1px solid #E6F2FF;
}

.evt_general_info_title {
	font-weight: bold;
	background-color: #E6F2FF;
	margin: 0px;
}

.evt_general_info_body {
	padding-left: 20px;
	margin: 0px;
}


#evt_status {
	border: 1px solid #CCCCCC;
	background-color: #FFFFC4;
	margin-bottom: 30px;
	padding: 2px;
}

.evt_shadowed {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.ui-datepicker * {
	font-size: 10px;
}

/* Table */

.evt_rate_table {
	margin: 20px 2px 20px 2px;
}

.evt_rate_table th {
	font-weight: bold;
	background-color: #FFEAEA;
}

.evt_rate_table tr:nth-child(even), .evt_rate_title {
	background-color: #E6F2FF;
}

.evt_rate_table td {
	padding: 5px;
}

/* Event Retrieve */

.evt_rate_title {
	font-weight: bold;
}

.evt_category {
	text-align: left;
}

.evt_curr {
	text-align: right;
}

.evt_date {
	text-align: center;
}

.evt_participate {
	width: 300px;
	text-align: center;
	background-color: #FFFFFF
}

.evt_participate button {
	padding: 10px;
	font-size: 20px;
}

b, strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

/* LEGAL STUFF */

.legal {
	width: 100%;
	font: 12px 'Open Sans',sans-serif;
	text-align: justify;
}

.legal p {
	margin: 20px 0px 20px 0px;
}

.legal b {
	font-weight: bold;
}

.legal h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0px 20px 0px;
}

.legal ul {
	margin: 5px 0px 5px 25px;
}

.legal th {
	font-weight: bold;
	background-color: #FFEAEA;
	padding: 5px;
}

.legal tr:nth-child(even) {
	background-color: #E6F2FF;
}

.legal td {
	padding: 5px;
}

.about_us {
	text-align: center;
}

.legal_little, .legal_little * {
	font-size: 10px;
}

.legal_little ul {
	margin-left: 30px;
}

/* Button */
.evt_button {
	display: inline-block;
	padding: 11px 19px;
	margin: 0px 10px;

	cursor: pointer;
	font-size: 17.5px;
	text-align: center;
	vertical-align: middle;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);

	border-color: rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25);

	background-image: linear-gradient(to bottom, #2DCBFF, #0084D6);

	text-decoration: none;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00A1D8;
	color: #FFFFFF;
}

a.evt_button {
	color: #FFFFFF;
}

.evt_button:hover {
	background-image: linear-gradient(to top, #2DCBFF, #0084D6);
}

.evt_button:active {
	position:relative;
	top:1px;
}

.evt_button:disabled {
	color: #DDDDDD;
	background-color: #F3F3F3;
	background-image: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	text-shadow: none;
}

.evt_button:disabled:active {
	position:relative;
	top:0px;
}

.evt_btn_small {
	padding: 7px 10px;
	font-size: 15px;
}

.evt_btn_cancel {
	background-image: linear-gradient(to bottom, #EAEAEA, #C7C7C7);
}

.evt_btn_cancel:hover {
	background-image: linear-gradient(to top, #EAEAEA, #C7C7C7);
}

.evt_sidebar {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}


/* RECORD MANAGEMENT */

.evt_table_record_manage {
	text-align: right;
}

.evt_table_record {
	border: 1px solid black;
	font:12px arial,sans-serif;
	border-collapse: collapse;
}

.evt_table_record tr:nth-child(odd) {
	background-color: #FFF0F0;
	border: 1px solid black;
}

.evt_table_record th {
	font-weight: bold;
	background-color: #F4F4FF;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}

.evt_table_record td {
	padding: 0px 5px;
	text-align: left;
	border: 1px solid black;
}

.evt_record_actions {
}

/* OPENID */
#openid_form #providers {
	margin: 10px 0px;
	padding: 0px;
}

#openid_form #providers img {
	border: 1px solid #E1E1E1;

	border-radius: 3px;
	overflow: hidden;
}

#openid_form #providers img:hover {
	border: 1px solid #C4C4C4;
}

#openid_form #providers img:active {
	position: relative;
	top: 1px;
}

#openid_form #providers li {
	display: inline-block;
	margin: 0px 3px;
}

.openid_logo {
	color: #F7931E;
	padding: 6px 0px 8px 28px;
	background: url(images/openid/openidico.png) no-repeat;
}

.evt_sign_in_table {
	width: 100%;
}

.evt_sign_in_table table {
}

.evt_sign_in_table table td {
	vertical-align: middle;
}

#openid_identifier_visible {
	width: 200px;
}

.evt_sign_in_table td {
	vertical-align: top;
}

.evt_sign_in_form {
	padding: 20px;
	background-color: #F4F4F4;
}
.evt_sign_in_table_title {
	margin-bottom: 20px;
}

/* BITCOIN */
.evt_bitcoin_payment_info {
	margin: 0px;
	padding: 10px;
	width: 450px;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	text-align: center;

	border-color: rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25);
	background-color: #F3F3F3;
}

.evt_bitcoin_button {
	display: inline-block;
	padding: 2px 20px;
	margin: 0px 10px;
	font-style: italic;

	cursor: pointer;
	text-align: center;
	vertical-align: middle;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #CCCCCC;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);

	border-color: rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25);

	background-image: linear-gradient(to bottom, #FEFB8D, #FDF006);

	text-decoration: none;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00A1D8;
	color: #000000;
}

.evt_bitcoin_button:hover {
	background-image: linear-gradient(to top, #FEFB8D, #FDF006);
}

.evt_bitcoin_button:active {
	position:relative;
	top:1px;
}


/* PHP */
.xdebug-error, .xe-notice {
	position: relative;
	z-index: 99;
}

/* PAYMENT */
.evt_payment {
	width: 100%;
}

.evt_pay {
	padding: 10px;
	border: 1px solid #EEEEEE;
}

/* FIXED */
.evt_fixed_top_left {
	position: fixed;
	left: 0;
	top: 155px;
}

.evt_social {
	position: relative;
	left: -8px;
	display: block;
	width: 40px;
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 2px 0px;
}

.evt_social:hover {
	left: 0px;
}

#evt_fb {
	background: url(images/social.png) 100% 50% no-repeat;
}

#evt_gp {
	background: url(images/social.png) 100% 0 no-repeat;
}

#evt_tw {
	background: url(images/social.png) 100% 100% no-repeat;
}

/* EVENT RETRIEVE TWO COLUMN */
#eb_two_column {
	width: 100%;
}

.eb_column {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.eb_left_column {
	float: left;
	width: 300px;
}

.eb_right_column {
	float: right;
	width: 700px;
}

.eb_block {
	position: relative;
	border: 1px solid #DDDDDD;
	margin: 40px 0px;
	padding: 10px;
	background-color: white;
}

.evt_administration {
}

.evt_administration .eb_block_title {
	background-color: #FF1717;
}

.eb_block .evt_rate_table {
	width: 100%;
}

.eb_block_title {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 25px;
	width: 100%;

	padding-top: 5px;
	text-indent: 10px;
	border-bottom: 1px solid #DDDDDD;

	vertical-align: middle;

	background-color: #838383;
	color: white;
	font-weight: bold;
}

.eb_block_content {
	margin-top: 30px;
}

#evt_event_retrieve {
	background-color: #F4F4F4;
	height: 100%;
}

.eb_invoice_even {
	background-color: #FFD9D9;
}

.eb_invoice_odd {
	background-color: #F5F5F5;
}

.eb_report {
	display: inline-block;
	border: 0px;
}