* {
	margin: 2;
	padding: 2;
}

div, li {
	border-radius: 5px ;
}

.evt_hr {
	margin: 0px;
	padding: 0px;
	height: 0px;
	border-bottom: 1px solid #000000;
	font-size: 1px;
}

body {
	background: #FFFFFF;
	color: #000000;
	min-width: 800px;
}

#evt_header {
	height: 110px;
}

#evt_logo {
	margin: 0;
	padding: 0;
	float:left;
}

#evt_user_info {
	margin: 0;
	padding: 10;
	background: #DDDDFF;
	float:right;
}

#evt_user_info ul {
	list-style: none;
	text-align: center;
}

#evt_user_info li {
	background-color: #FFFFFF;
	display: inline;
}

#evt_index {
	position: absolute;
	top: 100px;
	left: 0px;
}

#evt_main {
	position: relative;

}

#evt_menu ul {
	margin: 30;
	padding: 30;
	list-style: none;
	text-align: center;
}

#evt_menu li {
	margin: 30;
	padding: 30;
	background-color: #DDDDFF;
	display: inline;
}

#evt_footer {
	text-align: center;
}

#evt_trace {
	color: #DDDDDD;
}

#event_administration {
	background-color: #00FFFF;
}

div.ui-datepicker{
	font-size:10px;
}
.help {
	font-size:12px;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid #000;
}